@model BidItToWinIt01.Models.userinfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
@section bootstrapJS{
    <script src="~/Scripts/bootstrap.js"></script>
    
    }
@section bootstrapCSS{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}
<div class="wrapper col2">
  <div id="header">
    <div class="fl_left">
      <h1><a href="#">BidItToWinIt</a></h1>
      <p>Ancient Artifact Bidding Plateform</p>
    </div>
    
    <br class="clear" />
  </div>
</div>

<div class="wrapper col4">
<br/><br/><br/><br/>
		<form class="navbar-form" method="POST" action="/SignUp/reg" >
           <label style="width:200px;text-align:right;padding-right:2em">Email</label>  <input type ="email" name="username" id="username" class="form-control" style="width:300px" placeholder="UserId"/><input type="button" id="b1" value="check"/>
            <div id="result" style="padding-left:15em"></div>
    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {

            $('#checking').hide();

            $('#b1').click(function () {

                var userName = $('#username').val();

                //alert('User Name ='+ userName);
                $('#checking').show();
                $.getJSON("/home/CheckUserName?UserName=" + userName, function (data) {
                    $('#checking').hide();
                    if (data) {
                        $('#result').text("User already exists in database");

                    }
                    else {
                        $('#result').text("User Name is available");
                    }
                });

            });

        });
    </script>







           <br /> <br /><label style="width:200px;text-align:right;padding-right:2em">Password</label>  <input type ="password" name="password" id="TxtPassword1" class="form-control" style="width:300px" placeholder="Password"/>
            <br /> <br /><label style="width:200px;text-align:right;padding-right:2em">Re-Password</label>  <input type ="password" id="TxtRePassword1" class="form-control" style="width:300px" placeholder="Password"/>
			<br/><br/>
			<div style="width:400px;padding-left:14em">
                <button id="signupbtn" class="btn btn-default" style="">Create Account</button>
            </div>
		</form>
		<br/><br/><br/><br/>
</div>