@model BidItToWinIt01.Models.userinfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="wrapper col4">
<br/><br/><br/><br/>
		<form class="navbar-form" >
           <label style="width:200px;text-align:right;padding-right:2em">UserId</label>  <input type ="text" id="TxtName" class="form-control" style="width:300px" placeholder="UserId"/>
           <br /> <br /><label style="width:200px;text-align:right;padding-right:2em">Password</label>  <input type ="password" id="TxtPassword" class="form-control" style="width:300px" placeholder="Password"/>
			<br/><br/>
			<div style="width:400px;padding-left:14em">
                <button class="btn btn-default" >Login</button>
            </div>
		</form>
		<br/><br/><br/><br/>
</div>
